
body {
    font-family: Georgia, Times, serif; 
    color: black;
    background-color: lightblue;   
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: bold; 
    margin: 0 0 0.5em 0; 
}

header {
    width: 100%; 
    background-image: url('/img/salmon.png');   
    background-repeat: no-repeat;
    background-position: center; 
    height: 246px; 
    text-align: center;
}

header h1 {
    /* float: left; */
    /* margin: 0 0 30px 0; */
    /* padding 5px 0 0 0; */
    /* width: 100%; */
    /* background-imag:url('img/chinook.png'); */
    color: salmon; 
    padding: 105px 0 10px 0;
    font-size: 20pt; 
    text-align: center;
}

nav li {
    background-color: salmon; 
    width: 100px;
    padding: 0 50px;  
    /* display: inline;  */
    /* float: left; */
    /* border: 2px solid red;  */
    /* padding: 5px 10px 5px 10px;  */
    /* margin: 30px 10px 20px 10px;  */
}
td, th, .data {
    font-family: Helvetica, Verdana, Arial, sans-serif; 
    color: salmon;
    background-color: darkblue; 
    padding: 6px; 
    border: 2px solid grey; 
}
th {
    background-color: lightcoral;
    color: darkblue; 
}
.highlight {
    font-family: 'Titan One', cursive;
    color: darkgreen;
    letter-spacing: 0.06em; 
}



h2 {
    font-size: 18pt;
}
p {
    margin: .2em 0;  
}

li.sales-total, td.sales-total { 
   background: yellow;
   color: green;  
}
nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    padding: 12px; 
}
fieldset {
    border: 2px solid yellow;
    margin: 1em 1em; 
    width: 90%; 
    padding: 1em; 
}
/* input:invalid {
    outline: red solid 1px;
} */